[submodule "_pkg/stm32f1xx-hal"]
	path = _pkg/stm32f1xx-hal
	url = git@github.com:stm32-rs/stm32f1xx-hal.git
[submodule "_pkg/stm32f4xx-hal"]
	path = _pkg/stm32f4xx-hal
	url = git@github.com:stm32-rs/stm32f4xx-hal.git
[submodule "_pkg/stm32l4xx-hal"]
	path = _pkg/stm32l4xx-hal
	url = git@github.com:ForsakenHarmony/stm32l4xx-hal.git
[submodule "_pkg/visualizer2"]
	path = _pkg/visualizer2
	url = git@github.com:Rahix/visualizer2.git
[submodule "_pkg/rppal"]
	path = _pkg/rppal
	url = git@github.com:golemparts/rppal.git
