.title {
	display: flex;
	flex: 1;
	align-items: center;

	margin: 0;
	padding: 8px;
}

.form {
}

.form fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.form fieldset label {
	padding: 4px 0px;
}

.form fieldset input {
	padding: 8px;
	border-radius: 4px;

	color: var(--text-normal);
	border: 1px solid var(--deprecated-text-input-border);
	background-color: var(--deprecated-text-input-bg);
}

.form fieldset input:hover {
	border-color: var(--deprecated-text-input-border-hover);
}
